
@{
    ViewBag.Title = "XemGioHang";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2 class="text-success">Giỏ hàng</h2>

<table class="table table-bordered">
    <tr class="bg-warning">
        <th>Hình</th>
        <th>Sản phẩm</th>
        <th>Đơn giá</th>
        <th width="90px">SL</th>
        <th>Thành tiền</th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            <img src="~/Content/Hinhanh/Hinhanh/@item.Hinh" width="80" />
        </td>
        <td>@item.TenSP</td>
        <td>@item.DonGia.ToString("N0") đ</td>

        <td>
            <form method="post" action="/Home/CapNhat">
                <input type="hidden" name="id" value="@item.idSP" />
                <input type="number" name="soluong" class="form-control" value="@item.SoLuong" min="1" />
                <button class="btn btn-sm btn-primary mt-1">Lưu</button>
            </form>
        </td>

        <td>@item.ThanhTien.ToString("N0") đ</td>

        <td>
            <a href="/Home/XoaItem/@item.idSP" class="btn btn-danger btn-sm">Xóa</a>
        </td>
    </tr>
}

</table>

<h4 class="text-end text-danger">
    <b>Tổng tiền: @ViewBag.TongTien.ToString("N0") đ</b>
</h4>

<div class="text-end mt-3">
    <a href="/Home/HTSP" class="btn btn-secondary">Tiếp tục mua</a>
    <a href="/Home/XacNhanDatHang" class="btn btn-success">Tiếp tục</a>
</div>
